* {
	font-family: "Poppins", sans-serif;
}

body {
	margin-top: 40px;

	color: white;
	font-weight: 500;

	width: 100vw;
	min-height: 100vh;

	background-color: #cc2121;
	background-image: url("https://i.pinimg.com/originals/66/4d/2a/664d2a0d4145a08503a0acfd5dd8366e.gif");
	background-repeat: repeat;
	background-size: auto;
	background-position-x: center;
}

h1, p, input {
	overflow-y: hidden;
}

#container-pesquisa {
	position: fixed;
	top: 0;
	left: 0;

	width: 40vw;
	height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#container-livros {
	position: absolute;
	right: 0;
	top: 0;

	width: 60vw;

	display: flex;
	justify-content: center;

	padding: 20px;
	padding-top: 30px;
}

#container-unico-livro {
	position: absolute;
	right: 0;
	top: 0;
	width: 60vw;

	padding: 20px;
	padding-top: 50px;
	height: auto;
}

#container-unico-livro section {
	width: auto;
	padding: 20px;
	border-radius: 20px;
	background-color: #ab2c48;
}

table {
	background-color: aliceblue;
	width: 90%;
	height: auto;
	table-layout:fixed; 
}

table tr {
	background-color: #552cb7;
}

table tr:nth-child(even) {
	background-color: #5b86cb;
}

thead tr {
	background-color: aliceblue;
	color: black;
}

tbody tr:hover {
	background-color: #ab2c48;
}

th,
td {
	padding: 5px;
	font-size: 15px;
	width: 33%;
	height: 20px;
}

tbody tr td:last-child {
	font-size: 20px;
	text-align: center;
}

#container-pesquisa h1 {
	color: #ffffff;
	font-size: 3rem;
	margin-bottom: 3rem;
	text-align: center;
}

form {
	display: flex;
	flex-direction: row;
	width: auto;
	justify-content: space-between;

	background-color: #161923;
	padding: 0 0.5rem;
	margin-top: 1rem;
	font-size: 1rem;
	border: 1px solid #fafcff;
	border-radius: 8px;
}

form input {
	outline: none;
	padding: 10px;
	background-color: transparent;
	color: rgba(166, 166, 166);
}

a {
	color: #ffffff;
	text-decoration: solid;
}

#botao-agendar {
	padding: 5px;
	border-bottom: 1px solid aliceblue;
}

@media(max-width:800px) {
	#container-pesquisa {
		position: static;
		width: 100vw;
		height: 30vh;
	}

	#container-livros {
		position: static;
		width: 100vw;
	}

	#container-unico-livro {
		position: static;
		width: 100%;
	}

	body {
		flex-direction: column;
		padding-bottom: 40px;
	}
}