* {
    margin: 0;
    padding: 0;
    border: 0;

    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;

    min-height: 100vh;
    min-width: 100vw;

    /* background-image: url("https://i.pinimg.com/originals/26/e8/a5/26e8a502f115b13670b37990f7fe539b.gif"); */
	background-color: crimson;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-blend-mode: saturation;
}

main {
width: 50vw;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

main h1 {
color: #ffffff;
font-size: 3rem;
margin-bottom: 3rem;
text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 75%;
}

form input {
    background: #000000;
    width: 300px;
    height: 50px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    outline: none;
    color: #ffffff;
    font-size: 1rem;
    border: 1px solid #fafcff;
    border-radius: 8px;
}

label {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

#container {
    border-radius: 8px;
    background-color: rgb(0, 0, 0,0.4);
    padding:8px;
}

form input[type="submit"] {
    cursor: pointer;
    width: 50%;
    margin-top: 4rem;
    border: none;
    border-radius: 32px;
    background: #000000;
    color: #ffffff;
    font-size: 1.1rem;
    transition: all .3s ease-in-out;
    background-color: rgb(0, 0, 0, 0.4);
    margin-bottom: 25px;
}

form label {
    font-size: 1rem;
}

input[type="submit"]:hover {
    background: #000000;
}

@media(max-width:770px) {
    main {
        width: 100vw;
    }
}