<!DOCTYPE html><html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>!!ERRO!!</title>

    <link rel="stylesheet" href="/global.css">
	<style>
		* {
			padding: 8px;
		}

		body {
			margin: 40px;
			background-color: aliceblue;
		}

		#descricao {
			display: flex;
			flex-direction: column;
			list-style: none;
		}
	</style>
</head>

<body>
	<h1>ERRO: {{ status }}</h1>
	<hr/>
	<ul id="descricao">
		{% for i in descricao %}
			<li>👉 {{ i }}</li>
		{% endfor %}
	</ul>

	{% if redireciona %}
		<a href="{{ redireciona }}">Voltar</a>
	{% else %}
		<a href="/">Voltar</a>
	{% endif %}
</body>

</html>