<!DOCTYPE html><html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acervo</title>

    <link rel="stylesheet" href="/get_livros/style.css">
    <link rel="stylesheet" href="/global.css">
</head>

<body>
    <a href="/get_livros/index.html" id="sair">Sair</a>

    <nav id="container-pesquisa">
        <h1>Biblioteca online</h1>

        <form action="/livros" method="POST">
            <input id="nome_cad" name="proc" type="text" placeholder="Busque o livro desejado" />
            <input type="submit" value="Procurar" id="button">
        </form>
    </nav>

    <nav id="container-unico-livro">
        <section>

            <h1>{{ livro.titulo }} - {{ livro.autor }}</h1>

            {% if livro.disponivel %}
				<h3 style="color:greenyellow;">Disponível para Empréstimo</h3>
                <a href="/agendar/{{ livro.id }}" id="botao-agendar">Agendar empréstimo</a>
			{% else %}
				<h3 style="color:crimson;">Não disponível para Empréstimo</h3>
            {% endif %}

        </section>

    </nav>
</body>

</html>