<!DOCTYPE html><html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acervo</title>

    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="/unico_livros/style.css">
</head>

<body>
    <a href="/livros">Voltar</a>
    <h1>{{ livro.titulo }}</h1>
    <hr>
    <h3>{{ livro.autor }}</h3>
    <h3 style="color: {{ 'green' if livro.disponivel else 'red' }}">{{
        "Disponível para Empréstimo"
        if livro.disponivel else
        "Não disponível para Empréstimo"
    }}</h3>
</body>

</html>