@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

* {
	font-family: 'Courier New', monospace;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #f6e8b1;
}

h1 {
	color: #89725b;
}

p, a {
	/* color: #89725b; */
	color: black;
	font-weight: bolder;
	font-size: 16px;
}

#sair {
	/* background-image: url("https://www.svgrepo.com/show/151987/opened-door-aperture.svg"); */
	/* transform: rotate( 90deg ); */

	position: fixed;
	top: 5px;
	left: 8px;

	background-color: black;
	color: aliceblue;
	padding: 2px;

	z-index: 10;
}

.pallete-2 {
	background-color: #B0CC99;
}

header {
	width: 100vw;
	height: 60px;
	background-color: #B0CC99;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	/* border-bottom: 4px solid black; */
	padding-left: 70px;
	padding-right: 70px;
}

.menu-item {
	padding: auto, 6px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	min-width: 140px;

	background-color: #B7CA79;

	height: 100%;
	/* width: 120px; */
	
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.dropdown-list {
	list-style: none;
	display: block;
	width: 100%;
	padding: 0;
}

.dropdown-list li {
	display: inline-block;
	position: relative;
	height: 100%;
}

.dropdown-list li .menu-item {
	display: flex;
	text-align: center;
	text-decoration: none;
}

ul li ul.dropdown {
	width: 100%;
	position: absolute;
	z-index: 999;
	display: none;
}

ul li ul.dropdown li {
	display: block;
	background-color: #B0CC99;
	border: 1px solid #89725b;

	padding: 8px;
	width: 100%;
}

ul li:hover ul.dropdown {
	display: block;
}

header #logo {
	font-family: Roboto Slab, sans-serif;
	text-decoration: overline underline;
	color: black;
}

header nav {
	display: flex;

	width: auto;
	height: 100%;
}