@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

* {
	font-family: 'Courier New', monospace;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #f6e8b1;
}

h1 {
	color: #89725b;
}

p {
	/* color: #89725b; */
	color: black;
	font-weight: bolder;
	font-size: 16px;
}

#sair {
	background-image: url("https://www.svgrepo.com/show/151987/opened-door-aperture.svg");

	position: fixed;
	top: 5px;
	left: 5px;

	background-color: black;
	color: aliceblue;
	padding: 2px;

	z-index: 10;
}

header {
	width: 100vw;
	height: 60px;
	background-color: #B0CC99;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	/* border-bottom: 4px solid black; */
	padding-left: 50px;
	padding-right: 50px;
}

header #logo {
	font-family: Roboto Slab, sans-serif;
	text-decoration: overline underline;
	color: black;
}

header nav {
	display: flex;

	width: auto;
	height: 100%;
}

header nav a {
	height: 100%;
	width: 100px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

header nav a:hover {
	border-top: 3px solid black;
}